<h1>Edit race</h1>

<%= form_for(@race) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
	<%= render 'edit_results', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= sortable_element "race-results-list",
	:url => {:action => "sort", :id => @race},
	:complete => visual_effect(:highlight, "race-results-list"),
	:tag => 'tr'
%>
