<tr class="ten">
	<td class="lefty"><%= link_to driver.name, driver %></td>
	<td class="middy"><%= driver.number %></td>
	<td class="middy"><%= driver.race_results.count %></td>
	<td class="middy"><%= driver.points %></td>
	<td class="middy"><%= driver.race_wins.count %></td>
	<td class="middy"><%= driver.race_tops.count %></td>
</tr>
